#bods{
  background-color:#BBDED6;
}

#borang{
  width:25%;
  margin-left:37.5%;
  color:#00000;
}

#distInput input{
  float:right;
}

#boxInput{
  float:right;
  width:40%;
}

#buttons{
  width:100%;
  clear:both;
}

#buttons input{
  width:49%;
}

#outputs input{
  float:right;
}
